.image-5 :hover .image-5 :hover path{
	fill: green;
}

.topbanner {
    font-size: clamp(1px, 1.15vw, 16.56px);
}

.headerwrapper {
    padding-top: clamp(1px, 17.76vw, 255.74px);
}

.heading {
    font-size: clamp(1px, 3.47vw, 49.9px);
    line-height: clamp(1px, 4.43vw, 63.7px);
}

.arrowdown {
    margin-top: clamp(1px, 8.1vw, 116.6px);
 
}

.carouselwrapper {
    margin-top: clamp(1px, 9.2vw, 132.48px);
}

.div-block-33 {
    margin-top: clamp(1px, 2.89vw, 41.6px);
    margin-right: clamp(1px, 2.81vw, 40.4px);
    border-radius: clamp(1px, 5.7vw, 82px);
    font-size: clamp(1px, 1.23vw, 17.7px);
    line-height: clamp(1px, 1.1vw, 15.8px);
}

.div-block-34 {
    margin-top: clamp(1px, 6.47vw, 93.16px);
}

.image-18 {
    margin-left: clamp(-999px, -0.9vw, -12.96px);
}

.image-21 {
    margin-top: clamp(1px, 3vw, 43.19px);
    margin-left: clamp(1px, 10.06vw, 144.86px);
}

.image-19 {
    margin-left: clamp(1px, 36.12vw, 520.12px);
}

.image-20 {
    margin-left: clamp(1px, 0.28vw, 4px);
    margin-bottom: clamp(1px, 5vw, 72px);
}

.div-block-35 {
    margin-top: clamp(1px, 10.47vw, 150.7px);
    padding-left: clamp(1px, 3.24vw, 46.65px);
}

.h3wrapper {
    padding-top: clamp(1px, 26.97vw, 388.3px);
}

.textheadermain-2 {
    font-size: clamp(1px, 1.15vw, 16.56px);
    line-height: clamp(1px, 1.62vw, 23.3px);
}

.bigtextmain {
    margin-top: clamp(1px, 3.7vw, 53.2px);
    font-size: clamp(1px, 3.47vw, 49.9px);
    line-height: clamp(1px, 4.43vw, 63.79px);
}

/*recent works*/

.brandcarouselwrapper {
    padding-top: clamp(1px, 16.43vw, 236.5px);
}

.text-block-2 {
    margin-left: clamp(1px, 45.83vw, 659.95px);
    font-size: clamp(1px, 1.15vw, 16.56px);
    line-height: clamp(1px, 1.44vw, 20.7px);
}

.link-block-2 {
    padding-left: clamp(1px, 1.5vw, 21.59px);
    padding-right:  clamp(1px, 1.5vw, 21.59px);
    font-size: clamp(1px, 1.25vw, 18px);
    line-height: clamp(1px, 1.5vw, 21.59px);
    border-radius: clamp(1px, 5.7vw, 82px);
    border-width: clamp(1px, 0.08vw, 1.15px);
}

.link-block-2-copy {
    padding-left: clamp(1px, 1.5vw, 21.59px);
    padding-right:  clamp(1px, 1.5vw, 21.59px);
    font-size: clamp(1px, 1.25vw, 18px);
    line-height: clamp(1px, 1.5vw, 21.59px);
    border-radius: clamp(1px, 5.7vw, 82px);
}

.div-block-2 {
    margin-left: clamp(1px, 22vw, 316.8px);
    gap: clamp(1px, 0.52vw, 7.48px);
}

/**/


.h4wrapper {
    padding-top: clamp(1px, 12.55vw, 180.72px);
    font-size: clamp(1px, 1.15vw, 16.56px);
    line-height: clamp(1px, 1.62vw, 23.3px);
}

.text-block-5 {
    padding-top: clamp(1px, 3.7vw, 53.2px);
    font-size: clamp(1px, 3.47vw, 49.96px);
    line-height: clamp(1px, 4.43vw, 63.79px);
}

.link-block {
    margin-top: clamp(1px, 3.7vw, 53.2px);
    font-size: clamp(1px, 1.15vw, 16.56px);
    line-height: clamp(1px, 1.62vw, 23.3px);
    border-radius: clamp(1px, 5.2vw, 74.8px);
}

/*brand applications*/

.brandappwrapper {
    padding-top: clamp(1px, 17.6vw, 253.44px);
}

.text-block-4 {
    font-size: clamp(1px, 1.15vw, 16.56px);
    line-height: clamp(1px, 1.62vw, 23.3px);
}

.bapphtmlcontainer {
    margin-top: clamp(1px, 3.73vw, 53.7px);
}

.link-block-4._4-4 {
    margin-top: clamp(1px, 3.73vw, 53.7px);
}

.link-block-4 {
    padding-left: clamp(1px, 1.67vw, 24px);
    padding-right: clamp(1px, 1.67vw, 24px);
    border-radius: clamp(1px, 2.89vw, 41.6px);
}

.text-block-4-copy-copy {
    font-size: clamp(1px, 1.15vw, 16.56px);
    line-height: clamp(1px, 1.67vw, 24px);
}

/*top services*/ 

.topserviceswrapper {
    padding-top: clamp(1px, 18vw, 259.2px);
}

.text-block-4 {
    font-size: clamp(1px, 1.15vw, 16.56px);
    line-height: clamp(1px, 1.67vw, 24px);
}

.defaultstate {
    margin-top: clamp(1px, 12.58vw, 181.15px);
}

.heading-2 {
    font-size: clamp(1px, 3.12vw, 44.9px);
    line-height: clamp(1px, 2.89vw, 41.6px);
}

.hoverstate {
    padding-top: clamp(1px, 4.23vw, 60.9px);
}

.text-block-9 {
    font-size: clamp(1px, 1.85vw, 26.6px);
    line-height: clamp(1px, 1.83vw, 26.3px);
}

.text-block-10 {
    margin-top: clamp(1px, 5.03vw, 72.43px);
    font-size: clamp(1px, 1.38vw, 19.8px);
    line-height: clamp(1px, 2.36vw, 33.9px);
}

.text-block-10.right {
    margin-top: clamp(1px, 3.68vw, 53px);
}

.knowmore {
    margin-bottom: clamp(1px, 7vw, 100.8px);
    font-size: clamp(1px, 1.15vw, 16.56px);
    line-height: clamp(1px, 1.62vw, 23.32px);
}

/*our services*/

.servicescarouselwrapper {
    gap: clamp(1px, 3.53vw, 50.8px);
    padding-top: clamp(1px, 7.8vw, 112.32px);
}

.serviceselectioncontainer {
    gap: clamp(1px, 2.6vw, 37.44px)
}

.gotoservices {
    font-size: clamp(1px, 1.15vw, 16.56px);
}

.serviceselection {
    gap: clamp(1px, 2.08vw, 29.95px);
}

.link-block-14 {
    font-size: clamp(1px, 1.38vw, 19.8px);
}

/*our services -- carousel element*/

.brandservice {
    padding-top: clamp(1px, 11.9vw, 171.36px);
    padding-left: clamp(1px, 7.63vw, 109.87px);
}

.detailscontainer {
    gap: clamp(1px, 1.38vw, 19.8px);
}

.detailheader {
    font-size: clamp(1px, 1.15vw, 16.56px);
    line-height: clamp(1px, 1.62vw, 23.32px);
}

.detailtitle {
    font-size: clamp(1px, 3.47vw, 49.9px);
    line-height: clamp(1px, 4.43vw, 63.7px);
}

.buttonrow {
    gap: clamp(1px, 0.57vw, 8.2px)
}

/*our services -- carousel element -- button pill*/

.servicebutton {
    padding-top: clamp(1px, 0.57vw, 8.2px);
    padding-bottom: clamp(1px, 0.57vw, 8.2px);
    padding-left: clamp(1px, 1.15vw, 16.56px);
    padding-right: clamp(1px, 1.15vw, 16.56px);
    font-size: clamp(1px, 1.15vw, 16.56px);
    border-radius: clamp(1px, 4.28vw, 61.6px);
}

.bottombuttonwrapper {
    gap: clamp(1px, 2.14vw, 30.81px);
}

/*our latest works carousel*/

.latestworkscarouselwrapper {
    margin-top: clamp(1px, 5vw, 72px);
}

.latestworkstitlecontainer {
    margin-bottom: clamp(1px, 6.25vw, 90px);
    gap: clamp(1px, 3.53vw, 50.83px);
}

.filterpillscontainer {
    gap: clamp(1px, 0.92vw, 13.2px);
}

.latestworksimage {
    width: clamp(1px, 20vw, 288px);
    height: clamp(1px, 38vw, 547.2px);
}

.div-block-31._31-1._31-2 {
    margin-top: clamp(-999px, -1.31vw, -18.8px);
}

/*dark mode section*/

.darkmodesection {
    margin-top: clamp(1px, 5vw, 72px);
}

.div-block-13 {
    margin-top: clamp(1px, 13vw, 187.2px);
    margin-right: clamp(1px, 19vw, 273.6px);
}

.circle-1 {
    border-radius: clamp(1px, 2vw, 28.8px);
}

.circle-1-2 {
    border-radius: clamp(1px, 2vw, 28.8px);
    border-width: clamp(1px, 0.28vw, 4.03px);   
}

.circle-2 {
    margin-top: clamp(-999px, -0.5vw, -7.2px);
    margin-left: clamp(1px, 1vw, 14.4px);
}

.circle-2-2 {
    margin-top: clamp(-999px, -0.5vw, -7.2px);
    margin-left: clamp(1px, 1vw, 14.4px);
}

.circle-3 {
    margin-top: clamp(1px, 0.5vw, 7.2px);
    margin-left: clamp(1px, 1vw, 14.4px);
}

.circle-3-2 {
    margin-top: clamp(1px, 0.5vw, 7.2px);
    margin-left: clamp(1px, 1vw, 14.4px);
}

.endslide {
    margin-top: clamp(1px, 11vw, 158.4px);
}

.div-block-17 {
    gap: clamp(1px, 0.69vw, 9.93px);
}

.div-block-18 {
    border-radius: clamp(1px, 1.9vw, 27.36px);
    border-width: clamp(1px, 0.72vw, 0.05px);
}

.text-block-16 {
    margin-top: clamp(1px, 0.52vw, 7.48px);
    margin-left: clamp(1px, 0.86vw, 12.3px);
    font-size: clamp(1px, 0.95vw, 13.68px);
    line-height: clamp(1px, 1.21vw, 17.4px);
}

.text-block-17 {
    margin-top: clamp(-999px, -0.8vw, -11.52px);
    margin-left: clamp(1px, 1.73vw, 24.9px);
    font-size: clamp(1px, 3.52vw, 50.68px);
    letter-spacing: clamp(-999px, -0.3vw, -4.32px);   
}

.text-block-19 {
    margin-left: clamp(1px, 2vw, 28.8px);
    font-size: clamp(1px, 0.95vw, 13.68px);
    line-height: clamp(1px, 1.21vw, 17.4px);
}

.text-block-17._17-2 {
    margin-left: clamp(1px, 1.38vw, 19.8px);
    font-size: clamp(1px, 2.85vw, 41.04px);
}

.text-block-19._19-2 {
    margin-left: clamp(1px, 1.85vw, 26.6px);
}

.text-block-17._17-3 {
    margin-left: clamp(1px, 2.65vw, 38.16px);
}

.text-block-19._19-3 {
    margin-left: clamp(1px, 2.38vw, 34.27px);
}

.text-block-20 {
    margin-top: clamp(1px, 2.6vw, 37.44px);
    font-size: clamp(1px, 3.47vw, 49.9px);
    line-height: clamp(1px, 4.43vw, 63.79px);
}

.link-block-4._4-2 {
    margin-top: clamp(1px, 1vw, 14.4px);
}

.text-block-4-copy {
    font-size: clamp(1px, 1.15vw, 16.56px);
    line-height: clamp(1px, 1.62vw, 23.3px);
}

/*gift brand*/

.giftbrand {
    border-radius: clamp(1px, 1.38vw, 19.8px);
}

.div-block-24 {
    border-radius: clamp(1px, 1.38vw, 19.8px);
}

.giftbrandwrapper {
    border-radius: clamp(1px, 1.38vw, 19.8px);
}

.text-block-21 {
    margin-top: clamp(1px, 5.22vw, 75.16px);
    font-size: clamp(1px, 1.38vw, 19.8px);
    line-height: clamp(1px, 2.38vw, 34.27px);
}

.text-block-22 {
    margin-top: clamp(1px, 4vw, 57.6px);
}

.div-block-21 {
    gap: clamp(1px, 3.7vw, 53.2px);
    margin-left: clamp(1px, 16.08vw, 231.55px);
}

.text-block-23 {
    font-size: clamp(1px, 2.6vw, 37.4px);
    line-height: clamp(1px, 3.32vw, 47.8px);
}

.image-9 {
    margin-left: clamp(1px, 6.5vw, 93.6px);
}

/*contact us*/

.contactuswrapper {
    padding-top: clamp(1px, 14.95vw, 215.28px);
}

.link-block-9 {
    margin-top: clamp(1px, 3.25vw, 46.8px);
}

.text-block-24 {
    font-size: clamp(1px, 4.62vw, 66.5px);
    line-height: clamp(1px, 4.56vw, 65.66px);
}

.sayhi {
    font-size: clamp(1px, 1.15vw, 16.56px);
    line-height: clamp(1px, 1.62vw, 23.32px);
}

.socialsrow {
    gap: clamp(1px, 5.12vw, 73.72px);
    padding-top: clamp(1px, 1.78vw, 25.63px);
}

.link-block-8 {
    font-size: clamp(1px, 1.15vw, 16.56px);
    line-height: clamp(1px, 1.62vw, 23.32px);
}

.image-10 {
    margin-right: clamp(-999px, -1.5vw, -21.5px);
}

/*our blog*/

.ourblogwrapper {
    padding-top: clamp(1px, 19.41vw, 279.5px);
    margin-bottom: clamp(1px, 12.48vw, 179.71px);
}

.blogrow {
    margin-left: clamp(1px, 11vw, 158.4px);
    margin-top: clamp(1px, 5.57vw, 80.2px);
}

.text-block-25 {
    margin-top: clamp(1px, 3.37vw, 48.52px);
    font-size: clamp(1px, 2.77vw, 39.88px);
    line-height: clamp(1px, 2.77vw, 39.88px);
}

.text-block-26 {
    margin-top: clamp(1px, 2.06vw, 29.66px);
    font-size: clamp(1px, 0.92vw, 13.24px);
    line-height: clamp(1px, 1.18vw, 16.99px);
}

.l3._3-1 {
    margin-top: clamp(1px, 2vw, 28.8px);
    border-radius: clamp(1px, 1.27vw, 18.2px);
}

.t {
    font-size: clamp(1px, 1.15vw, 16.56px);
    line-height: clamp(1px, 1.62vw, 23.32px);
}

.div-block-25 {
    margin-top: clamp(1px, 3.48vw, 50.11px);
    margin-left: clamp(1px, 3.06vw, 44.06px);
    margin-right: clamp(1px, 3.06vw, 44.06px);
}

.div-block-22._22-1 {
    margin-top: clamp(1px, 9.78vw, 140.8px);
}